body {
    background-color: Gainsboro;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#game {
    margin: auto;
    display: grid;
    width: 100vmin;
    height: 100vmin;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
    background-color: #4666FF;
    border: 5px solid black;
}

.item {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
    border-radius: 100%;
}