@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap');
* {
    font-family: 'Genos', sans-serif;
    font-size: 800;
}

body {
    background-color: Gainsboro;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#game {
    margin: auto;
    display: grid;
    width: 90vmin;
    height: 90vmin;
    grid-template-rows: repeat(26, 1fr);
    grid-template-columns: repeat(26, 1fr);
    background-color: #4666FF;
    border: 2px solid black;
    cursor: crosshair;
}

#score {
    display: grid;
    margin: auto;
    width: 80vmin;
    height: 4.5vmin;
    grid-template-columns: repeat(2, 1fr);
    background-color: Gainsboro;
    text-align: center;
}
#timer {
    display: grid;
    margin: auto;
    width: 80vmin;
    height: 4.5vmin;
    grid-template-columns: 1fr;
    background-color: Gainsboro;
    text-align: center;
    font-size: 2em;
}

.item {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
    border-radius: 100%;
    position: relative;
}

#easy, #int, #hard {
    position: fixed;
    border-radius: 6px;
}

#easy {
    top: 50vh;
    left: 48vw;
}

#int {
    top: 53vh;
    left: 46vw;
}

#hard {
    top: 56vh;
    left: 48vw;
}

#easy:hover {
    
}

#int:hover {
    top: 53vh;
    left: 46vw;
}

#hard:hover {
    top: 56vh;
    left: 48vw;
}